<h1>Sign up to Save your Tweets</h1>

<form action="/sessions" method="POST">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login!">
</form>
