"inside tweets new file"
<h1> Live twitter feed for  --- <%= @serached_word %>---</h1>

<div class="tweet-info">
 <% @word.each do |tweet| %>
 <%="******************************************************" %>
<%= tweet[:text] %>
<br>
<%="*******************************************************" %>
<% end %>
</div>
