<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Twitter Test Appppppppp</title>
</head>
<body>
  <header id="main_header">
    <%= erb :'_header' %>
  </header>
  <img id="follow-me" src="http://www.mybloggingjourney.com/wp-content/uploads/2010/10/twitter-logo-2.jpg">

  <%= yield %>
  <!-- <img id="header-img" src="http://www.bitrebels.com/wp-content/uploads/2012/04/twitter-star-wars-avatars-2.jpg"> -->
</body>
</html>
